/* Reset */
/* #region global */
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Stretch';
    src: url('../fonts/StretchPro.otf');
}

:root {
    --clr-primaria: #00A3FF;
    /* --background-azul: background: rgb(23,102,147); background: linear-gradient(90deg, rgba(23,102,147,1) 0%, rgba(0,212,255,0) 100%); */
    /* bacground-preto: background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%); */
    --clr-branca: white;
    --clr-preta: rgb(5, 5, 5);
    --clr-tranparent: transparent;
    --btn-radius: 40px;
}


h2, span {
    font-family: 'Stretch';
    color: #ffffff;

    i {
        color: #00A3FF;
    }

}

.btn-contrate {
    background: var(--clr-primaria);
    color: var(--clr-branca);
    width: 160px !important;
    height: 55px !important;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.contrate-ja{
    color: var(--clr-primaria);
    background: var(--clr-branca);
}

h1 {
    font-family: 'Stretch';
    /* font-size: 50px; */
}

/* #endregion */

/* #region TopNav */
header {
    /* From https://css.glass */
    position: fixed;
    background: rgba(0, 0, 0, 0.603);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;

    & a {
        img {
            height: 100px;
        }

    }

    & ul {
        display: flex;
        list-style: none;
        align-items: center;
        color: var(--clr-branca);
        font-family: 'Stretch';
        text-transform: uppercase;


        & li {
            padding: 20px;

            & a {
                color: white;
            }
        }

    }
}

/* #endregion */

/* #region Banner */
video {
    position: absolute;
    z-index: -2;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#background-degrade {
    position: absolute;
    z-index: -1;
    top: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 90%);
    height: 100%;
    width: 100%;
}

section.banner {
    color: var(--clr-branca);
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & div {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 50%;
        justify-content: space-around;


        & .saibaMaisBanner {
            background: var(--clr-primaria);
            color: var(--clr-preta);
            width: 200px;
            height: 50px;
            border-radius: var(--btn-radius);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border: 1px solid gray;
            background: var(--clr-tranparent);
            color: var(--clr-branca);
        }

        & .btn-contrate {
            height: 100px;
            width: 250px!important;
            display: flex;
            font-size: 20px;
            color: var(--clr-branca);
            font-family: 'Stretch';
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border-radius: var(--btn-radius);
        }

        & ul.carrosel {
            display: flex;
            flex-direction: row;
            gap: 50px;

            .itensExemplo {
                height: 50px;
                width: 200px;
                background: rgba(255, 255, 255, 0);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(9.5px);
                -webkit-backdrop-filter: blur(9.5px);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

/* #endregion */
/* #region sobreNós 1 */
section.sobreNos-1 {
    height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

    img {
        height: 400px;

    }

}

/* #endregion */
/* #region Sobre nós2 */

.sobreNos-2 {
    height: 100dvh;
    background-image: url(../img/sobrenos-2.jpg);
    background-size: cover;

    & img {
        position: absolute;
        color: var(--clr-branca);
        text-transform: uppercase;
        width: 100%;
        margin-top: -20px;

    }

    & .sobrenos-2-center {
        background: rgb(23, 102, 147);
        background: linear-gradient(90deg, rgba(23, 102, 147, 1) 0%, rgba(0, 212, 255, 0) 100%);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        & div {
            width: 40%;
            display: flex;
            flex-direction: column;

            margin-top: 7rem;

            & ul {
                & li {
                    & h3 {
                        font: 900;
                        font-family: "Inter", sans-serif;
                    }
                }
            }

            p {
                color: var(--clr-branca);
            }

            .saibaMaisBanner {
                background: var(--clr-primaria);
                color: var(--clr-preta);
                width: 200px;
                height: 50px;
                border-radius: var(--btn-radius);
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-around;
                border: 1px solid var(--clr-branca);
                background: var(--clr-tranparent);
                color: var(--clr-branca);
                margin-left: 20px;
                margin-top: 2.5rem;
            }
        }
    }
}

/* #endregion */
/*#region Servicos Cards */







.funcionariosPainel{
    background-color: var(--clr-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}
.Cards{
    display: flex;
    gap: 1.5em;
    margin-top: 3em;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.flip-card {
    background-color: var(--clr-primaria);
    width: 300px;
    height: 400px;
    
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    box-shadow: 5px 0 5px black;
    background-color: white;
    color: black;
    border-radius: 20px;
    & h2{
        color: var(--clr-preta);
    }
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    /* box-shadow: -10px 0 10px black; */
    transform: rotateY(180deg);
    padding-top: 6.9rem;
    
}

.texto-out{
    background-color: var(--clr-primaria);
    text-align: center;
    margin-top: 2rem;
}

/*#endregion*/

section.funcionarios {
    height: 100dvh;
    background: var(--clr-primaria);
}

section.servicos {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .partes {
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        align-items: self-end;
        height: auto;
        width: 100%;

        .card {
            box-shadow: 0 0 50px var(--clr-preta);
            border: 0px transparent;
            background: var(--clr-primaria);
            color: white;

            .card-header {
                border: 0px transparent;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon-servicos {
                    height: 100px;
                }

                .card-title {
                    border: 0;
                    text-align: center;
                }
            }
        }

    }
}

/* #region media */


@media (max-width:1024px) {
    header {
        /* justify-content: ; */

        ul {
            display: none;
        }

        .btn-contrate {
            display: none;
        }
    }

    section.sobreNos-1 {
        display: flex;
        flex-direction: column-reverse;
        height: 100dvh;

        & h1 {
            text-align: center;
        }

        /* & img{
        } */
    }
}

@media (max-width:600px) {


    section.sobreNos-1 {
        img {
            height: 250px;
        }
    }

    .sobreNos-2 {
        background-position: center;

        & img {
            margin-top: -5px;
        }

        & .sobrenos-2-center {
            div {
                width: 90%;
            }
        }
    }
}

@media (max-width:375px) {
    h1 {
        font-size: 30px;
    }

    section.sobreNos-1 {

        & img {
            height: 200px;
        }
    }

}

/* #endregion */

.carouselExample{
    & .carousel-inner{
        .carousel-item .active{
            background-color: red;
            div{
                background-color: red;
                img{
                }
            }
        }
    }
}